html{
	scroll-behavior: smooth;
}
body{
	background-color: #421492;


}
.bg-img{
	margin-top: -82px;
	margin-left: -10px;
	position: absolute;
	mix-blend-mode: screen;
}
.bg-img2{
	margin-top: -558px;
	margin-left: -10px;
	position: absolute;
	mix-blend-mode: screen;
}

h1{
	color:white;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	margin-left: 250px;
	margin-top: 150px;
}
h2{
	color: #FFDA33;
	font-family: "Poppins", sans-serif;
	font-size: 60px;
	margin-left: 100px;
	margin-top: 100px;
}
h3{
	color:white;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	margin-left: 450px;
	margin-top: 10px;	
}
h4{
	color:white;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	margin-left: 480px;
	margin-top: 10px;
}
h5{
	color:white;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	margin-left: 480px;
	margin-top: 10px;
}
p1{
	color: #FFDA33;
	margin-left: 250px;
	animation: appear 3s;
	font-family: "Poppins", sans-serif;
}
	@keyframes appear {
    from {opacity: 0%;}
    to {opacity: 100%;}
	
}
p2{
	color: white;
	margin-left: 10px;
	font-family: "Poppins", sans-serif;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
}
li a{
	text-decoration:none;
	color: white;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
}
ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  text-decoration: none;
  color: #421492;
  border-radius: 12px;
  
}
.active{
  pointer-events: none;
  cursor: default;
}
.dropdown-content ul:hover {
	background-color: #230A4D;
}
button{
  background-color: #230A4D;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  margin-left: 1145px;
  
}
.dropdown {
  position: relative;
  display: inline-block;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFDA33;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 24px 32px;
  z-index: 1;
  margin-left: 1100px;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#project0{
	height: 600px;
	margin-left:-8px;
	margin-right:-8px;
	background-color: hsl(262, 76%, 37%);
}
#project1{
	height: 600px;
	margin-left:-8px;
	margin-right:-8px;
	background-color: hsl(262, 76%, 45%);
	
}
#project2{
	height:600px;
	margin-left:-8px;
	margin-right:-8px;
	background-color: hsl(262, 76%, 52%);
}
.codes{
	height: 350px;
	width: 689.5px;
	margin-top: 100px;
	margin-left: 300px;
	border-style: solid;
	border-color: #FFDA33;
	border-width: 5px;
	
}
